div{
	position: absolute;
	left: 0px;
	top:0px;
	width:287.04px; 
	height:449.28px;

}

img{
	position: absolute;
	left: 0px;
	top:0px;
	width:287.04px; 
	height:449.28px;
}

@font-face {
    font-family: Bebas;
    src: url('fonts/BEBAS.ttf');
}

p{
	color: #ffff64;
	font-weight: bold;
	text-align: center;
	width: 100%;
	font-family: Bebas;
}
#fn{

    position: relative;
    top: 265px;
    font-size: 20px;
    

}

#ln{

    position: relative;
    top: 245px;
    font-size: 20px;
	
}

#number{
    
	color: white;
    position: relative;
    top: 265px;
    font-size: 12px;
}

#dayOne{
	
	color: #bfbfbf;
	position: absolute;
	top: 47px;
	left: 17px;
	font-size: 12px;
}

#dayTwo{
	
	color: #bfbfbf;
 	position: absolute;
	top: 11.5px;
	right: 15px;
	font-size: 12px;

}